.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.text {
    font-size: 35px;
    font-weight: bold;
}

.add-book-btn {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background: green;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.dialog-btn, .cancel-btn {
    background: white;
    color: black;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    margin-bottom: 5px;
    gap: 5px;
}

.buttons {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 200px;
}
