#container {
      width: 500px;
      height: 500px;
      display: flex;
      flex-wrap: wrap; /* wrap divs to next line */
      border: 1px solid black;
      margin-left: 350px;
      margin-top: 100px;
    }

    .box {
      box-sizing: border-box;
      border: 1px solid #ccc;
      background-color: lightblue;
    }

button {
    height: 40px;
    width: 90px;
    background: lightgrey;
    color: red;
    border-radius: 5px;
    margin-left: 525px;
    font-weight: bold;
}

img {
  height: 200px;
  width: 260px;
}

table, td, th {
  border: 1px solid black;
}

tbody {
  font-size: 95%;
  font-style: italic;
}

tfoot {
  font-weight: bold;
}